<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Recipe Page</title>
    <th:block th:replace="fragments :: link-styles" th:remove="tag"/>
</head>
<body>
<th:block th:replace="fragments :: navigator" th:remove="tag"/>
<main>
    <div class="container marketing">
        <hr>
        <h2>Add recipe:</h2>
        <form th:action="@{/recipe/add}" method="post">
            <div class="row col-12 form-container">
                <div class="row col-md-12 form-input-row">
                    <div class="col-md-6">
                        <label for="name">Name:</label>
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" type="text" id="name" th:name="name" th:value="${name}">
                    </div>
                </div>
                <div class="row col-md-12">
                    <button type="submit" class="btn btn-primary offset-3 col-md-6">Submit</button>
                </div>
            </div>
        </form>
        </hr>
    </div>
</main>
<th:block th:replace="fragments :: scripts" th:remove="tag"/>
</body>
</html>